<div class="grid">
	<div class="col-12">
	  <div class="card">
		<h5>Filter Menu</h5>
		<p-table #dt1 [value]="marques" dataKey="codeMarqueArticle" [rows]="10" [loading]="loading" [rowHover]="true" styleClass="p-datatable-gridlines" [paginator]="true" [globalFilterFields]="['codeMarqueArticle','libelleMarqueArticle','dateCreation']" responsiveLayout="scroll">
		  <ng-template pTemplate="caption">
			<div class="flex justify-content-between flex-column sm:flex-row">
			  <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
			  <span class="p-input-icon-left mb-2">
				<i class="pi pi-search"></i>
				<input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)" placeholder="Search Keyword" class="w-full"/>
			  </span>
			</div>
		  </ng-template>
		  <ng-template pTemplate="header">
			<tr>
			  <th style="min-width: 10rem">
				<div class="flex justify-content-between align-items-center">
                    codeMarqueArticle
				  <p-columnFilter type="text" field="codeMarqueArticle" display="menu" placeholder="Search by codeMarqueArticle"></p-columnFilter>
				</div>
			  </th>
			  <th style="min-width: 10rem">
				<div class="flex justify-content-between align-items-center">
                    libelleMarqueArticle
				  <p-columnFilter type="text" field="libelleMarqueArticle" display="menu" placeholder="Search by libelleMarqueArticle"></p-columnFilter>
				</div>
			  </th>
			  <th style="min-width: 10rem">
				<div class="flex justify-content-between align-items-center">
                    dateCreation
				  <p-columnFilter type="text" field="dateCreation" display="menu" placeholder="Search by dateCreation"></p-columnFilter>
				</div>
			  </th>
			  <th style="min-width: 10rem">
				<div class="flex justify-content-between align-items-center">
                    creerPar
				  <p-columnFilter type="text" field="creerPar" display="menu" placeholder="Search by creerPar"></p-columnFilter>
				</div>
			  </th>
			  
			  <th style="min-width: 10rem">
				<div class="flex justify-content-between align-items-center">
				  Action
				</div>
			  </th>
			</tr>
		  </ng-template>
		  <ng-template pTemplate="body" let-marque>
			<tr>
			  <td>{{ marque.codeMarqueArticle }}</td>
			  <td>{{ marque.libelleMarqueArticle }}</td>
			  <td>{{ marque.dateCreation }}</td>
			  <td>{{ marque.creerPar }}</td>
			 
			  <td>
				<button pButton pRipple icon="pi pi-cog" class="p-button-rounded p-button-info" (click)="openModal(marque)"></button>&nbsp;
				<button pButton pRipple icon="pi pi-times" class="p-button-rounded p-button-danger" (click)="deleteStock(marque)"></button>
			  </td>
			</tr>
		  </ng-template>
		  <ng-template pTemplate="emptymessage">
			<tr>
			  <td colspan="10">No brand found.</td>
			</tr>
		  </ng-template>
		  <ng-template pTemplate="loadingbody">
			<tr>
			  <td colspan="10">Loading brands data. Please wait.</td>
			</tr>
		  </ng-template>
		</p-table>
	  </div>
	</div>
  </div>
  
