<div class="grid">
	<div class="col-12">
		<div class="card">
			<div class="card">
				<div class="flex justify-content-between flex-column sm:flex-row">
					<h5>Filter Menu</h5>
					<button pButton class="p-button-outlined mb-2" (click)="openAddModal()">Ajouter un nouveau Chauffeur</button>
					</div>
				<p-table #dt1 [value]="chauffeurs" dataKey="id" [rows]="10" [resizableColumns]="true" [loading]="loading" [rowHover]="true" styleClass="p-datatable-gridlines" [paginator]="true" [globalFilterFields]="['codeChauffeur','codeResponsable','nomPrenom','cin','creerPar']" responsiveLayout="scroll">
				<ng-template pTemplate="caption">
					<div class="flex justify-content-between flex-column sm:flex-row">
						<button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
						<span class="p-input-icon-left mb-2">
							<i class="pi pi-search"></i>
							<input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)" placeholder="Search Keyword" class="w-full"/>
						</span>
					</div>
				</ng-template>
				<ng-template pTemplate="header">
					<tr>
						<th style="min-width: 10rem">
							<div class="flex justify-content-between align-items-center">
								codeChauffeur
								<p-columnFilter type="text" field="codeChauffeur" display="menu" placeholder="Search by codeChauffeur"></p-columnFilter>
							</div>
						</th>
						<th style="min-width: 10rem">
							<div class="flex justify-content-between align-items-center">
								codeResponsable
								<p-columnFilter type="text" field="codeResponsable" display="menu" placeholder="Search by codeResponsable"></p-columnFilter>
							</div>
						</th>

                        <th style="min-width: 10rem">
							<div class="flex justify-content-between align-items-center">
								nomPrenom
								<p-columnFilter type="text" field="nomPrenom" display="menu" placeholder="Search by nomPrenom"></p-columnFilter>
							</div>
						</th>
                        <th style="min-width: 10rem">
							<div class="flex justify-content-between align-items-center">
								cin
								<p-columnFilter type="text" field="cin" display="menu" placeholder="Search by cin"></p-columnFilter>
							</div>
						</th>
                        <th style="min-width: 10rem">
							<div class="flex justify-content-between align-items-center">
								tel1
								<p-columnFilter type="text" field="tel1" display="menu" placeholder="Search by tel1"></p-columnFilter>
							</div>
						</th>
                        <th style="min-width: 10rem">
							<div class="flex justify-content-between align-items-center">
								tel2
								<p-columnFilter type="text" field="tel2" display="menu" placeholder="Search by tel2"></p-columnFilter>
							</div>
						</th>
                        
                        <th style="min-width: 10rem">
							<div class="flex justify-content-between align-items-center">
								actif
								<p-columnFilter type="text" field="actif" display="menu" placeholder="Search by actif"></p-columnFilter>
							</div>
						</th>
                        <th style="min-width: 10rem">
							<div class="flex justify-content-between align-items-center">
								dateCreation
								<p-columnFilter type="date" field="dateCreation" display="menu" placeholder="mm/dd/yyyy"></p-columnFilter>
							</div>
						</th>
						<th style="min-width: 10rem">
							<div class="flex justify-content-between align-items-center">
								creerPar
								<p-columnFilter type="date" field="creerPar" display="menu" placeholder="Search by creerPar"></p-columnFilter>
							</div>
						</th>
						<th style="min-width: 10rem"> 
							<div class="flex justify-content-between align-items-center">
								Action 
						</div></th>
							
						
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-chauffeur>
					<tr>
						<td>
							{{chauffeur.codeChauffeur}}
						</td>
                        <td>
							{{chauffeur.codeResponsable}}
						</td>
                        <td>
							{{chauffeur.nomPrenom}}
						</td>
                        <td>
							{{chauffeur.cin}}
						</td>
                        <td>
							{{chauffeur.tel1}}
						</td>
                        <td>
							{{chauffeur.tel2}}
						</td>
                        <td class="text-center">
							<i class="pi" [ngClass]="{'true-icon pi-check-circle text-green-500': chauffeur.actif, 'false-icon pi-times-circle text-pink-500': !chauffeur.actif}"></i>
						</td>
                        <td>
							{{chauffeur.dateCreation | date: 'MM/dd/yyyy'}}
						</td>
                        <td>
							{{chauffeur.creerPar}}
						</td>
                        <td >
							
							<button pButton pRipple icon="pi pi-cog" class="p-button-rounded p-button-info" (click)="openUpdateModal(chauffeur)"></button>&nbsp;
							<button pButton pRipple icon="pi pi-times" class="p-button-rounded p-button-danger"></button>
						  </td>
						
						
					</tr>
				</ng-template>
				<ng-template pTemplate="emptymessage">
					<tr>
						<td colspan="8">No customers found.</td>
					</tr>
				</ng-template>
				<ng-template pTemplate="loadingbody">
					<tr>
						<td colspan="8">Loading customers data. Please wait.</td>
					</tr>
				</ng-template>
    		</p-table>
		</div>

	</div>

</div>
